{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html>
  <head>
    <title></title>
    <link href='{% static "css/styles.css"%}' rel="stylesheet" type="text/css">
    <link href='{% static "css/history-styles.css"%}' rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <div class="history">
        <div class="back-img">
          <h1>История компании</h1>
        </div>
      </div>
    </div>

    <div class="company">
      <div class="main-group">
        <div class="group">
          <div class="level-one">
            <h1>Основание компании</h1>
            <p class="date">2021 год</p>
          </div>
          <div class="level-two">
            <div class="lines"></div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec malesuada ante tellus, vel finibus
              tellus efficitur sed. Fusce aliquam ut leo in
              volutpat. Praesent a felis eu ligula commodo
              tincidunt at gravida purus. In ullamcorper nunc
              nec ipsum luctus<br/>
              suscipit. Maecenas dictum volutpat nunc, ut
              tincidunt augue ornare in. Donec ullamcorper mi
              nulla. Vivamus bibendum<br/>
              magna quis magna fermentum, sed volutpat metus
              laoreet. Donec non luctus ipsum. Etiam condimentum
              est a vulputate porta.
            </p>
          </div>
        </div>
      </div>
      <div class="main-group">
        <div class="group">
          <div class="level-one">
            <h1>Регистрация документов</h1>
            <p class="date">2021 год</p>
          </div>
          <div class="level-two">
            <div class="lines"></div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec malesuada ante tellus, vel finibus
              tellus efficitur sed. Fusce aliquam ut leo in
              volutpat. Praesent a felis eu ligula commodo
              tincidunt at gravida purus. In ullamcorper nunc
              nec ipsum luctus<br/>
              suscipit. Maecenas dictum volutpat nunc, ut
              tincidunt augue ornare in. Donec ullamcorper mi
              nulla. Vivamus bibendum<br/>
              magna quis magna fermentum, sed volutpat metus
              laoreet. Donec non luctus ipsum. Etiam condimentum
              est a vulputate porta.
            </p>
          </div>
        </div>
      </div>
      <div class="main-group">
        <div class="group">
          <div class="level-one">
            <h1>Первые клиенты</h1>
            <p class="date">2021 год</p>
          </div>
          <div class="level-two">
            <div class="lines"></div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec malesuada ante tellus, vel finibus
              tellus efficitur sed. Fusce aliquam ut leo in
              volutpat. Praesent a felis eu ligula commodo
              tincidunt at gravida purus. In ullamcorper nunc
              nec ipsum luctus<br/>
              suscipit. Maecenas dictum volutpat nunc, ut
              tincidunt augue ornare in. Donec ullamcorper mi
              nulla. Vivamus bibendum<br/>
              magna quis magna fermentum, sed volutpat metus
              laoreet. Donec non luctus ipsum. Etiam condimentum
              est a vulputate porta.
            </p>
          </div>
        </div>
      </div>
      <div class="main-group">
        <div class="group">
          <div class="level-one">
            <h1>Внедрения ЛИС</h1>
            <p class="date">2021 год</p>
          </div>
          <div class="level-two">
            <div class="lines"></div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Donec malesuada ante tellus, vel finibus
              tellus efficitur sed. Fusce aliquam ut leo in
              volutpat. Praesent a felis eu ligula commodo
              tincidunt at gravida purus. In ullamcorper nunc
              nec ipsum luctus<br/>
              suscipit. Maecenas dictum volutpat nunc, ut
              tincidunt augue ornare in. Donec ullamcorper mi
              nulla. Vivamus bibendum<br/>
              magna quis magna fermentum, sed volutpat metus
              laoreet. Donec non luctus ipsum. Etiam condimentum
              est a vulputate porta.
            </p>
          </div>
        </div>
      </div>
      <div class="main-group">
        <div class="group">
          <div class="level-one">
            <h1>На данный момент</h1>
            <p class="date">2021 год</p>
          </div>
          <div class="level-two">
            <div class="lines"></div>
            <p class="text">
              Lorem ipsum dolor sit ame t, consectetur adipiscing
              elit. Donec malesuada ante tellus, vel finibus
              tellus efficitur sed. Fusce aliquam ut leo in
              volutpat. Praesent a felis eu ligula commodo
              tincidunt at gravida purus. In ullamcorper nunc
              nec ipsum luctus<br/>
              suscipit. Maecenas dictum volutpat nunc, ut
              tincidunt augue ornare in. Donec ullamcorper mi
              nulla. Vivamus bibendum<br/>
              magna quis magna fermentum, sed volutpat metus
              laoreet. Donec non luctus ipsum. Etiam condimentum
              est a vulputate porta.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}