{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link href='{% static "css/styles.css"%}' rel="stylesheet" type="text/css">
    <link href='{% static "css/ques-styles.css"%}' rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="questions">
        <div class="back-img">
            <h1>Популярные вопросы</h1>
        </div>
        <p class="main-text">
            Разбираем популярные вопросы о ЛИС MEDAN.<br/>
            Если вы не нашли ответ здесь, пишите на info&#64;medan.com и мы поможем!
        </p>

        <div class="que">
            <div class="group">
                <p class="ques">
                    Я ничего не знаю о лабораторных информационных
                    системах. <br>
                    С чего начать поиск ЛИС? <br>
                </p>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod tincidunt leo vel porta. Donec
                    odio eros, elementum nec sem in, tristique venenatis dolor. Duis tempus libero at ex rhoncus
                    laoreet. Quisque mollis enim nulla, id vestibulum odio ornare at. Nulla consequat leo nec ligula
                    condimentum, id rhoncus sapien accumsan. Sed nunc erat, sagittis id volutpat sit amet, egestas quis
                    leo.
                </p>
            </div>
            <div class="group">
                <p class="ques">
                    Сколько стоит ЛИС
                    <strong class="ques-emphasis-1">MEDAN</strong>?<br/>
                </p>
                <p class="text">
                    Ut eros dolor, egestas vel purus id, efficitur tristique libero. Vestibulum urna dolor, iaculis sed
                    dolor sagittis, finibus egestas diam. Duis accumsan sem nec tellus blandit, sit amet suscipit ex
                    euismod. Proin non tristique elit. Nunc sodales nisl mauris, ut varius est tincidunt sed. Vivamus in
                    neque condimentum, pellentesque arcu ac, dapibus nulla. Ut quis commodo massa, a condimentum leo.
                </p>
            </div>
            <div class="group">
                <p class="ques">
                    Для каких медицинских организаций подойдет
                    <strong class="ques-emphasis-1">MEDAN</strong>?<br/>
                </p>
                <p class="text">
                    Integer id tortor sodales, accumsan tortor sed, elementum erat. Nulla ultricies purus interdum,
                    tincidunt lacus porta, dictum elit. Proin enim risus, venenatis in facilisis id, elementum vel
                    massa. Quisque mauris orci, volutpat posuere felis non, porta tincidunt tortor. Nullam aliquam
                    mauris quis nibh luctus aliquam. Aenean interdum leo in erat pretium, rutrum tristique libero
                    blandit.
                </p>
            </div>
            <div class="group">
                <p class="ques">
                    Работает ли система с реестрами ОМС?<br/>
                </p>
                <p class="text">
                    Morbi egestas lorem sit amet volutpat ullamcorper. Suspendisse aliquam auctor sem, ac tristique
                    ligula lobortis sed. Donec dolor lorem, efficitur non massa ultrices, sodales egestas massa.
                    Vestibulum lacus nunc, faucibus ut risus at, tincidunt rhoncus elit. Suspendisse pulvinar, est eu
                    venenatis aliquet, diam elit tincidunt mauris, ac commodo justo ex eu leo.
                </p>
            </div>
            <div class="group">
                <p class="ques">
                    Интегрируется ли
                    <strong class="ques-emphasis-1">MEDAN</strong> с
                    другими информационными системами?<br/>
                </p>
                <p class="text">
                    Suspendisse porttitor blandit justo id cursus. In interdum bibendum malesuada. Quisque lobortis
                    tortor a massa consequat gravida vitae eget neque. Maecenas dui ex, gravida id magna a, finibus
                    molestie nunc. Aenean feugiat diam non elit placerat, et imperdiet orci porta. Phasellus ornare,
                    nunc in rhoncus ullamcorper, nunc diam convallis felis, sit amet pretium odio lectus vitae augue.
                </p>
            </div>
            <div class="group">
                <p class="ques">
                    Какое оборудование клиники можно подключить к
                    <strong class="ques-emphasis-1">MEDAN</strong>?<br/>
                </p>
                <p class="text">
                    In nec lacus egestas, gravida eros vel, ultrices ipsum. Cras rhoncus vel arcu a faucibus.
                    Pellentesque ut metus id turpis vestibulum semper. Morbi fringilla velit nibh, nec lacinia lorem
                    lobortis quis. Suspendisse potenti. Phasellus ornare eu lorem eget imperdiet. Proin et dapibus
                    velit, eget posuere tellus.
                </p>
            </div>
        </div>


        <p class="write-us">Не нашли ответ на свой вопрос?
            <strong class="write-us-emphasis">Напишите нам!</strong>
        </p>
    </div>
</div>
</body>
</html>
{% endblock %}